<%= form_tag users_profile_after_choices_path, :id => 'form_id' do %>
	<% count = 0 %>
	<% errand_no = @results[count][0] %>
	<h3>Transportation choices:</h3>
	<label class="radio">
		<input type="radio" name="choices[optionsRadios]" value="<%= errand_no %>Using own Car" checked>
			Using own Car
	</label>
	<% if(Geocoder::Calculations.distance_between([Errand.find(@results[count][0]).start_lat,Errand.find(@results[count][0]).start_lng],[Errand.find(@results[count][0]).end_lat,Errand.find(@results[count][0]).end_lng], :units => :km) < 3) %>
		<label class="radio">
			<input type="radio" name="choices[optionsRadios]" value="<%= errand_no %>Walking">
				Walking
		</label>
	<% end %>
	<% if(Geocoder::Calculations.distance_between([Errand.find(@results[count][0]).start_lat,Errand.find(@results[count][0]).start_lng],[Errand.find(@results[count][0]).end_lat,Errand.find(@results[count][0]).end_lng], :units => :km) < 3) %>
		<label class="radio">
			<input type="radio" name="choices[optionsRadios]" value="<%= errand_no %>Cycling">
				Cycling
		</label>
	<% end %>
	<% if(@results[count].size > 1) %>
		<% if(@results[count][4]) %>
			<label class="radio">
				<input type="radio" name="choices[optionsRadios]" value="<%= errand_no %>Carpooling">
				Carpooling
			</label>
		<% end %>
	<% end %>
	<% while(count < @results.size) %>
		<% if(@results[count].size > 1) %>
			<% if(@results[count][5] == "Metro") %>
				<label class="radio">
					<input type="radio" name="choices[optionsRadios]" value="<%= errand_no %>Metro line <%= @results[count][3] %>,<%= @results[count][1].id %>,<%= @results[count][2].id %>">
						Metro line <%= @results[count][3] %> from stop <%= @results[count][1].name %> to stop <%= @results[count][2].name %>
				</label>
			<% end %>
			<% if(@results[count][5] == "Bus") %>
				<label class="radio">
					<input type="radio" name="choices[optionsRadios]" value="<%= errand_no %>Bus line <%= @results[count][3] %>,<%= @results[count][1].id %>,<%= @results[count][2].id %>">
						Bus line <%= @results[count][3] %> from stop <%= @results[count][1].name %> to stop <%= @results[count][2].name %>
				</label>
			<% end %>
		<% end %>
		<% count += 1 %>
	<% end %>
	<%= submit_tag("Choose", class: "btn btn-success", style: "width: auto") %>

	<!--%= button_to "Choose", users_profile_after_choices_path, {method: :post, class: 'btn btn-success', style: 'width: 100px'} %-->
<% end %>

<style>
	body{background-color: #8fb4ff}
	.radio{
		margin-left: 20px;
	}
</style>