<h3><%= @geocodedStart %></h3>
<h3><%= @geocodedEnd %></h3>

<%= form_tag users_profile_after_choices_path, :id => 'form_id' do %>
	<% countMetro = 0 %>
	<% countBus = 0 %>
	<% errand_no = @errand_carpool[0] %>
	<h3>Transportation choices:</h3>
	<label class="radio">
		<input type="radio" name="choices[optionsRadios]" value="<%= errand_no %>Using own Car" checked>
			Using own Car
	</label>
	<% if(Geocoder::Calculations.distance_between([Errand.find(@errand_carpool[0]).start_lat,Errand.find(@errand_carpool[0]).start_lng],[Errand.find(@errand_carpool[0]).end_lat,Errand.find(@errand_carpool[0]).end_lng], :units => :km) < 3) %>
		<label class="radio">
			<input type="radio" name="choices[optionsRadios]" value="<%= errand_no %>Walking">
				Walking
		</label>
	<% end %>
	<% if(Geocoder::Calculations.distance_between([Errand.find(@errand_carpool[0]).start_lat,Errand.find(@errand_carpool[0]).start_lng],[Errand.find(@errand_carpool[0]).end_lat,Errand.find(@errand_carpool[0]).end_lng], :units => :km) < 3) %>
		<label class="radio">
			<input type="radio" name="choices[optionsRadios]" value="<%= errand_no %>Cycling">
				Cycling
		</label>
	<% end %>
	<% if(@errand_carpool[1]) %>
		<label class="radio">
			<input type="radio" name="choices[optionsRadios]" value="<%= errand_no %>Carpooling">
			Carpooling
		</label>
	<% end %>

	<% while(countMetro < @finalMetroResults.size) %>
		<label class="radio">
		<% path = @finalMetroResults[countMetro] %>
		<% partialPath = 0 %>
		<% choice = "" %>
		<% while(partialPath < path.size) %>
			<% stops_line = path[partialPath].split('&') %>
			<% if(partialPath == 0) %>
				<% choice += "Metro line " + stops_line[2] + " from stop " + MetroStop.find(stops_line[0]).name + " to stop " + MetroStop.find(stops_line[1]).name %>
			<% else %>
				<% choice += ", Metro line " + stops_line[2] + " from stop " + MetroStop.find(stops_line[0]).name + " to stop " + MetroStop.find(stops_line[1]).name %>
			<% end %>
			<% partialPath += 1 %>
		<% end %>
		<% countMetro += 1 %>
			<input type="radio" name="choices[optionsRadios]" value="<%= errand_no %>Metro <%= choice %>">
			<%= choice %>
		</label>
	<% end %>

	<% while(countBus < @finalBusResults.size) %>
		<label class="radio">
		<% path = @finalBusResults[countBus] %>
		<% partialPath = 0 %>
		<% choice = "" %>
		<% while(partialPath < path.size) %>
			<% stops_line = path[partialPath].split('&') %>
			<% if(partialPath == 0) %>
				<% choice += "Bus line " + stops_line[2] + " from stop " + BusStop.find(stops_line[0]).name + " to stop " + BusStop.find(stops_line[1]).name %>
			<% else %>
				<% choice += ", Bus line " + stops_line[2] + " from stop " + BusStop.find(stops_line[0]).name + " to stop " + BusStop.find(stops_line[1]).name %>
			<% end %>
			<% partialPath += 1 %>
		<% end %>
		<% countBus += 1 %>
			<input type="radio" name="choices[optionsRadios]" value="<%= errand_no %>Bus <%= choice %>">
			<%= choice %>
		</label>
	<% end %>

	<%= submit_tag("Choose", class: "btn btn-success", style: "width: auto") %>

	<!--%= button_to "Choose", users_profile_after_choices_path, {method: :post, class: 'btn btn-success', style: 'width: 100px'} %-->
<% end %>

<style>
	body{background-color: #8fb4ff}
	.radio{
		margin-left: 20px;
	}
</style>