<%# if session[:modal] == true %>
  <%#= render :partial => 'layouts/info'%>
<%# end %>

<div class="full-width" id="profileContainer">
  <div class="row align-center" id="profileInfo">
    <div class="large-5 small-12 columns align-self-middle">
      <div class="profile-pic" style="background-image: url('<%=@user.avatar.url(:thumb)%>')" ></div>
      <div class="profile-details">
        <h3 class="profile-name"><%= @user.name.titleize %> </h3>
        <!--p class="profile-rank"><i class="icon-up-open"></i>Veteran greenie</p-->
      </div>
    </div>
    <div class="large-7 columns">
    </div>
  </div>
</div>

<div class="row align-right" id="profileTabs">
  <div class="large-6 columns">
    
  </div>
</div>

<div class="row align-self-center" id="profileContent">
  <div class="large-5 columns show-for-large" id="profileExtras">
    
    <h4 class="stats extra-title"><i class="icon-leaf"></i> Current Stats</h4>
    <div class="row align-center" id="progressStats">
      <% total = @user.score_time+@user.score_money+@user.score_pollution %>
      <% if(total!=0) %>

        <div class="large-2 columns">
          <p><i class="icon-clock"></i></p>
        </div>
        <div class="large-10 columns">
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="<%=((@user.score_time*100)/total)%>" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-meter" style="width:<%=((@user.score_time*100)/total)%>%"></div>
          </div>
        </div>

        <div class="large-2 columns">
          <p>$</p>
        </div>
        <div class="large-10 columns">
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="<%=((@user.score_money*100)/total)%>" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-meter" style="width:<%=((@user.score_money*100)/total)%>%"></div>
          </div>
        </div>
        
        <div class="large-2 columns">
          <p><i class="icon-globe"></i></p>
        </div>
        <div class="large-10 columns">
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="<%=((@user.score_pollution*100)/total)%>" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-meter" style="width:<%=((@user.score_pollution*100)/total)%>%"></div>
          </div>
        </div>

      <% else %>

        <div class="large-2 columns">
          <p><i class="icon-clock"></i></p>
        </div>
        <div class="large-10 columns">
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-meter" style="width:0%"></div>
          </div>
        </div>

        <div class="large-2 columns">
          <p>$</p>
        </div>
        <div class="large-10 columns">
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-meter" style="width:0%"></div>
          </div>
        </div>
        
        <div class="large-2 columns">
          <p><i class="icon-globe"></i></p>
        </div>
        <div class="large-10 columns">
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-meter" style="width:0%"></div>
          </div>
        </div>    
      <% end %>
    </div>

    <h4 class="award extra-title"><i class="icon-award"></i> Weekly Challenges</h4>
    <div class="row align-center" id="challenges">
      <div class="large-3 columns">
        <%if(@challen1[1])%>
          <a href="#challenge1"><div class="challenge-pic" style="background-image: url('/img/level1.png" ></div></a>
        <% else %>
          <a href="#challenge1"><div class="challenge-pic" style="background-image: url('/img/locked.png" ></div></a>
        <% end %>
        <%= render :partial => 'layouts/challenge1'%>
      </div>
      <div class="large-3 columns">
        <%if(@challen2[1])%>
          <a href="#challenge2"><div class="challenge-pic" style="background-image: url('/img/level2.png" ></div></a>
        <% else %>
          <a href="#challenge2"><div class="challenge-pic" style="background-image: url('/img/locked.png" ></div></a>
        <% end %>
        <%= render :partial => 'layouts/challenge2'%>
      </div>
      <div class="large-3 columns">
        <%if(@challen3[1])%>
          <a href="#challenge3"><div class="challenge-pic" style="background-image: url('/img/level3.png" ></div></a>
        <% else %>
          <a href="#challenge3"><div class="challenge-pic" style="background-image: url('/img/locked.png" ></div></a>
        <% end %>
        <%= render :partial => 'layouts/challenge3'%>
      </div>
    </div>

    <div class="row side-footer">
        <div class="large-12 columns">
          <nav data-magellan>
            <ul class="horizontal menu expanded">
              <li class="logo">
                <%= link_to "greenie", root_path(current_user), style: "padding: 0px;" %>
              </li>
              <li class="tips">
                <p id="myRandomDiv">
                </p>                
              </li>
              <% if logged_in? %>
                <li style="display:inline-block; float: right;"><%= link_to "Log out", logout_path, method: "delete" %></li>
              <% end %>
            </ul>   
          </nav>
        </div>
    </div>
  </div>
  <div class="large-7 columns show-for-large">
    <div class="tab-container">
      <ul class="tabs" data-tabs id="timeline-tabs">
        <li class="tabs-title is-active">
          <a href="#errandsPanel" aria-selected="true"><i class="icon-connectdevelop"></i> Errands</a>
        </li>
        <li class="tabs-title">
          <a href="#aboutPanel"><i class="icon-emo-happy"></i> About</a>
        </li>
        <li class="tabs-title">
          <a href="#leaderboardPanel"><i class="icon-crown"></i> Leaderboard</a>
        </li>
      </ul>
      <div class="tabs-content" data-tabs-content="timeline-tabs">
        <div class="tabs-panel is-active" id="errandsPanel">

          <ul class="tabs" data-tabs id="map-tab">
            <li class="tabs-title" id="map-list" style="margin-bottom: 10px;">
              <a href="#showmap"><i class="icon-globe"></i>Add new errand</a>
            </li>
          </ul>
          <div class="tabs-content" id="showmapContent" data-tabs-content="map-tab">
            <div class="tabs-panel" id="showmap">          
              <%= form_tag users_choices_path, :id => 'form_id' do %>
                <div class="row">
                  <div class="large-5 columns">
                    <input type="checkbox" id="carpool" name="carpool" />
                    <label>   Carpooling available</label>
                  </div>
                  <div class="large-5 columns" style="float: right;">
                    <%= submit_tag("Add Errand", class: "button", style: "width: auto;") %>
                  </div>
                  <input type="text" id="latStart" name="latStart" style="display: none;">
                  <input type="text" id="lngStart" name="lngStart" style="display: none;">
                  <input type="text" id="latEnd" name="latEnd" style="display: none;">
                  <input type="text" id="lngEnd" name="lngEnd" style="display: none;">                          
                </div>
              <% end %>
              <div class="row" style="margin-top: 10px;">
                <div class="large-5 columns">
                  <input type="text" id="locationFrom" placeholder="Start Point">
                </div>

                <div class="large-5 columns">
                  <input type="text" id="locationTo" placeholder="End Point">
                </div>
                <%= submit_tag("Show on map", class: "button", style: "width: auto; margin-left: 20px; ", id: "submit") %>
              </div>
              <div id="map"></div>
            </div>
          </div>

          <% if(Errand.where(user_id: params[:id], done: false).find_each.size > 0) %>
            <% Errand.where(user_id: params[:id]).find_each.each do |errand| %>
              <% if(errand.done == false) %>
                <div class="row errand-element">
                  <div class="large-12 columns">
                    <div class="row errand-title align-self-middle">
                      <div class="large-12 columns">
                        <ul class="vertical menu errand-settings" data-drilldown>
                          <li>
                            <a href="#errand-options" class="errand-settings">
                              <i class="icon-wrench"></i>Errand Settings
                            </a>
                            <ul class="vertical menu">
                              <li class="align-item-right">
                                <a class="errand-remove errand-settings-icon" rel="nofollow" data-method="delete" href="/errands/<%=params[:id]%>?errand_id=<%=errand.id%>"><i class="icon-cancel"></i>Remove Errand</a>
                              </li>
                              <li class="align-item-right">
                                <a class="errand-check errand-settings-icon" rel="nofollow" data-method="post" href="/errands/<%=params[:id]%>?errand_id=<%=errand.id%>"><i class="icon-flag-checkered"></i>Check Route</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <div class="profile-pic small" style="background-image:url('<%=@user.avatar.url(:thumb)%>')"></div>
                        <div class="errand-title-content">
                          <p><b class="errand-maker"><%= @user.name.titleize %> </b>
                          going to <b class="errand-to"><%= link_to_if (errand.check_end_time == nil), errand.geocoded_end, users_checkin_end_path(:errand_id => errand.id), :onclick => "getLocation(this, 'end', '#{errand.check_start_lat}', '#{errand.check_start_lng}', '#{errand.choice}'); return false;", :id => "to"%></b></p>
                        </div>
                      </div>
                    </div>

                    <div class="row errand-content">
                      <div class="large-4 columns errand-image">
                        <img src="/img/background.jpg">
                      </div>
                      <div class="large-8 columns errand-details">
                        <b>From: </b>
                        <p class="errand-from">
                          <%= link_to_if (errand.check_start_time == nil), errand.geocoded_start, users_checkin_start_path(:errand_id => errand.id), :onclick => "getLocation(this, 'start', '', '', ''); return false;", :id => "from"%>
                        </p>
                        <b>Using: </b>
                        <p class="errand-method">
                          <%= errand.choice %>
                        </p>
                      </div>
                    </div> 
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>

        </div>

        <div class="row">
        </div>
        <div class="tabs-panel" id="aboutPanel">
          <div class="row about-panel">
            <div class="large-12 columns">
              <b>Update your profile</b>
              <!--p class="user-about"-->
                <div class="tabs-content tabs-credentials" data-tabs-content="sign-up-tabs">
                  <div class="tabs-panel is-active" >
                    <%= form_for(:user, url: users_update_path) do |f| %>

                      <%= f.text_field :name, class: 'large-12 columns', placeholder: "Name"%>

                      <%= f.email_field :email, class: 'large-12 columns', placeholder: "e-mail"%>

                      <%= f.password_field :password, class: 'large-12 columns', placeholder: "Password" %>

                      <%= f.password_field :password_confirmation, class: 'large-12 columns', placeholder: "Confirm Password" %>

                      <%= f.label :birthday %>
                      <%= f.date_select :birthday, :order => [:day, :month, :year],:start_year=>1950, :end_year=>2015, class: "date"%>      
                      <br>
                      <%= f.text_field :job, class: 'large-12 columns', placeholder: "Job Title"%>

                      <%= f.label :avatar %>
                      <%= f.file_field :avatar, class: 'large-12 columns' %>

                      <%= f.submit "Update", class: "button" %>
                    <% end %>
                  </div>
                </div>
              <!--/p-->
<!--               <b><i class="icon-mail inline"></i></b>
              <p class="user-email inline">
                <%#= @user.email %>
              </p> -->
              <!--b><i class="icon-crown inline"></i></b>
              <p class="user-position inline">
                veteran greenie
              </p-->
            </div>
          </div>
        </div>
        <div class="tabs-panel" id="leaderboardPanel">
          <div class="row leaderboard-header">
            <div class="large-4 columns">
              <b>Name</b>
            </div>
            <div class="large-4 columns">
              <b>Score</b>
            </div>
            <div class="large-4 columns">
              <b>Rank</b>
            </div>
          </div>

          <% pre = @users[0].score_time+@users[0].score_money+@users[0].score_pollution-1 %>
          <% @users.each do |user| %>
            <% if(pre != (user.score_time+user.score_money+user.score_pollution)) %>
              <% @rank+=1 %>
            <% end %>
            <% if(user.id == @user.id) %>       
              <div class="row user-leaderboard-success">
            <% else %>
              <div class="row user-leaderboard">
            <% end %>
              <div class="large-4 columns">
                <p><%= link_to user.name.titleize, publicprofile_path(:other_id => user.id) %></p>
              </div>
              <div class="large-4 columns">
                <p class="leaderboard-score"><%= user.score_time+user.score_money+user.score_pollution %></p>
              </div>
              <div class="large-4 columns">
                  <% if(@rank == 1) %>
                  <td align="left"><img src="/images/gold.png"/></td>
                  <% elsif(@rank == 2) %>
                  <td align="left"><img src="/images/silver.png"/></td>
                  <% elsif(@rank == 3) %>
                  <td align="left"><img src="/images/bronze.png"/></td>
                  <% else %>
                  <td align="left" style="padding-left: 30px;"><%= @rank %></td>
                  <% end %>
                <!--b><i class="icon-crown"></i></b-->
              </div>
            </div>
            <% pre = user.score_time+user.score_money+user.score_pollution %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 columns hide-for-large" id="profileContentSmall">
    <div class="tab-container">
      <ul class="tabs" data-tabs id="timeline-tabs">
        <li class="tabs-title is-active">
          <a href="#errandsPanelSmall" aria-selected="true"><i class="icon-connectdevelop"></i></a>
        </li>
        <li class="tabs-title">
          <a href="#aboutPanelSmall"><i class="icon-emo-happy"></i></a>
        </li>
        <li class="tabs-title">
          <a href="#leaderboardPanelSmall"><i class="icon-crown"></i></a>
        </li>
      </ul>
      <div class="tabs-content" data-tabs-content="timeline-tabs">
        <div class="tabs-panel is-active" id="errandsPanelSmall">
          
<!--           <form>
            <div class="row">
              <div class="large-5 small-12 columns">
                <input type="text" placeholder="Start Point">
              </div>

              <div class="large-5 small-12 columns">
                <input type="text" placeholder="End Point">
              </div>

              <div class="large-2 small-6 columns">
                <input type="checkbox" id="carpoolsmall"/>
                <label>Carpool</label>
              </div>
              <div class="small-6 columns hide-for-large">
                <ul class="tabs" data-tabs id="map-tab-small">
                  <li class="tabs-title" id="map-list-small">
                    <a href="#showmapSmall"><i class="icon-globe"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </form>
          <div class="tabs-content" id="showmapContentSmall" data-tabs-content="map-tab-small">
            <div class="tabs-panel" id="showmapSmall">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3455.6945080068804!2d31.439143915487424!3d29.988208328181088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583cb2bfafbe73%3A0x6e7220116094726d!2sGerman+University+in+Cairo!5e0!3m2!1sen!2seg!4v1463668672977" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div> -->
          <ul class="tabs" data-tabs id="map-tab-small">
            <li class="tabs-title" id="map-list-small" style="margin-bottom: 10px;">
              <a href="#showmapSmall"><i class="icon-globe"></i>Add new errand</a>
            </li>
          </ul>
          <div class="tabs-content" id="showmapContentSmall" data-tabs-content="map-tab-small">
            <div class="tabs-panel" id="showmapSmall">          
              <%= form_tag users_choices_path, :id => 'form_id' do %>
                <div class="row">
                  <div class="large-5 columns">
                    <input type="checkbox" id="carpoolSmall" name="carpool" />
                    <label>   Carpooling available</label>
                  </div>
                  <div class="large-2 small-6 columns" style="float: right;">
                    <%= submit_tag("Add Errand", class: "button", style: "width: auto;") %>
                  </div>
                  <input type="text" id="latStartSmall" name="latStart" style="display: none;">
                  <input type="text" id="lngStartSmall" name="lngStart" style="display: none;">
                  <input type="text" id="latEndSmall" name="latEnd" style="display: none;">
                  <input type="text" id="lngEndSmall" name="lngEnd" style="display: none;">                          
                </div>
              <% end %>
              <div class="row" style="margin-top: 10px;">
                <div class="large-5 small-12 columns">
                  <input type="text" id="locationFromSmall" placeholder="Start Point">
                </div>

                <div class="large-5 small-12 columns">
                  <input type="text" id="locationToSmall" placeholder="End Point">
                </div>
                <%= submit_tag("Show on map", class: "button", style: "width: auto; margin-left: 20px; ", id: "submitSmall") %>
              </div>
              <div id="mapSmall"></div>
            </div>
          </div>

          <% if(Errand.where(user_id: params[:id], done: false).find_each.size > 0) %>
            <% Errand.where(user_id: params[:id]).find_each.each do |errand| %>
              <% if(errand.done == false) %>
                <div class="row errand-element">
                  <div class="large-12 columns">
                    <div class="row errand-title align-self-middle">
                      <div class="large-12 columns">
                        <ul class="vertical menu errand-settings" data-drilldown>
                          <li>
                            <a href="#errand-options" class="errand-settings">
                              <i class="icon-wrench"></i>Errand Settings
                            </a>
                            <ul class="vertical menu">
                              <li class="align-item-right">
                                <a class="errand-remove errand-settings-icon" rel="nofollow" data-method="delete" href="/errands/<%=params[:id]%>?errand_id=<%=errand.id%>"><i class="icon-cancel"></i></a>
                              </li>
                              <li class="align-item-right">
                                <a class="errand-check errand-settings-icon" rel="nofollow" data-method="post" href="/errands/<%=params[:id]%>?errand_id=<%=errand.id%>"><i class="icon-flag-checkered"></i></a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <div class="profile-pic small" style="background-image:url('<%=@user.avatar.url(:thumb)%>')"></div>
                        <div class="errand-title-content">
                          <p><b class="errand-maker"><%= @user.name.titleize %> </b>
                          going to <b class="errand-to"><%= link_to_if (errand.check_end_time == nil), errand.geocoded_end, users_checkin_end_path(:errand_id => errand.id), :onclick => "getLocation(this, 'end', '#{errand.check_start_lat}', '#{errand.check_start_lng}', '#{errand.choice}'); return false;", :id => "to"%></b></p>
                        </div>
                      </div>
                    </div>

                    <div class="row errand-content">
                      <div class="large-4 small-12 columns errand-image">
                        <img src="/img/background.jpg">
                      </div>
                      <div class="large-8 small-12 columns errand-details">
                        <b>From: </b>
                        <p class="errand-from">
                          <%= link_to_if (errand.check_start_time == nil), errand.geocoded_start, users_checkin_start_path(:errand_id => errand.id), :onclick => "getLocation(this, 'start', '', '', ''); return false;", :id => "from"%>
                        </p>
                        <b>Using: </b>
                        <p class="errand-method">
                          <%= errand.choice %>
                        </p>
                      </div>
                    </div> 
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="tabs-panel" id="aboutPanelSmall">
          <div class="large-12 columns">
              <b>Update your profile</b>
              <!--p class="user-about"-->
                <div class="tabs-content tabs-credentials" data-tabs-content="sign-up-tabs">
                  <div class="tabs-panel is-active">
                    <%= form_for(:user, url: users_update_path) do |f| %>

                      <%= f.text_field :name, class: 'large-12 columns', placeholder: "Name"%>

                      <%= f.email_field :email, class: 'large-12 columns', placeholder: "e-mail"%>

                      <%= f.password_field :password, class: 'large-12 columns', placeholder: "Password" %>

                      <%= f.password_field :password_confirmation, class: 'large-12 columns', placeholder: "Confirm Password" %>

                      <%= f.label :birthday %>
                      <%= f.date_select :birthday, :order => [:day, :month, :year],:start_year=>1950, :end_year=>2015, class: "date"%>      
                      <br>
                      <%= f.text_field :job, class: 'large-12 columns', placeholder: "Job Title"%>

                      <%= f.label :avatar %>
                      <%= f.file_field :avatar, class: 'large-12 columns' %>

                      <%= f.submit "Update", class: "button" %>
                    <% end %>
                  </div>
                </div>
              <!--/p-->
<!--               <b><i class="icon-mail inline"></i></b>
              <p class="user-email inline">
                <%#= @user.email %>
              </p> -->
              <!--b><i class="icon-crown inline"></i></b>
              <p class="user-position inline">
                veteran greenie
              </p-->
            </div>
        </div>
        <div class="tabs-panel" id="leaderboardPanelSmall">
          <div class="row leaderboard-header">
            <div class="large-4 columns">
              <b>Name</b>
            </div>
            <div class="large-4 columns">
              <b>Score</b>
            </div>
            <div class="large-4 columns">
              <b>Rank</b>
            </div>
          </div>
          <% @rank = 0 %>
          <% pre = @users[0].score_time+@users[0].score_money+@users[0].score_pollution-1 %>
          <% @users.each do |user| %>
            <% if(pre != (user.score_time+user.score_money+user.score_pollution)) %>
              <% @rank+=1 %>
            <% end %>
            <% if(user.id == @user.id) %>       
              <div class="row user-leaderboard-success">
            <% else %>
              <div class="row user-leaderboard">
            <% end %>
              <div class="large-4 columns">
                <p><%= link_to user.name.titleize, publicprofile_path(:other_id => user.id) %></p>
              </div>
              <div class="large-4 columns">
                <p class="leaderboard-score"><%= user.score_time+user.score_money+user.score_pollution %></p>
              </div>
              <div class="large-4 columns">
                  <% if(@rank == 1) %>
                  <td align="left"><img src="/images/gold.png"/></td>
                  <% elsif(@rank == 2) %>
                  <td align="left"><img src="/images/silver.png"/></td>
                  <% elsif(@rank == 3) %>
                  <td align="left"><img src="/images/bronze.png"/></td>
                  <% else %>
                  <td align="left" style="padding-left: 30px;"><%= @rank %></td>
                  <% end %>
                <!--b><i class="icon-crown"></i></b-->
              </div>
            </div>
            <% pre = user.score_time+user.score_money+user.score_pollution %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="small-12 columns hide-for-large">
    <h4 class="stats extra-title"><i class="icon-leaf"></i> Current Stats</h4>
    <div class="row align-center" id="progressStats">

      <% total = @user.score_time+@user.score_money+@user.score_pollution %>
      <% if(total!=0) %>

        <div class="small-12 columns">
          <p><i class="icon-clock"></i></p>
        </div>
        <div class="small-12 columns">
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="<%=((@user.score_time*100)/total)%>" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-meter" style="width:<%=((@user.score_time*100)/total)%>%"></div>
          </div>
        </div>

        <div class="small-12 columns">
          <p>$</p>
        </div>
        <div class="small-12 columns">
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="<%=((@user.score_money*100)/total)%>" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-meter" style="width:<%=((@user.score_money*100)/total)%>%"></div>
          </div>
        </div>
        
        <div class="small-12 columns">
          <p><i class="icon-globe"></i></p>
        </div>
        <div class="small-12 columns">
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="<%=((@user.score_pollution*100)/total)%>" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-meter" style="width:<%=((@user.score_pollution*100)/total)%>%"></div>
          </div>
        </div>

      <% else %>

        <div class="small-12 columns">
          <p><i class="icon-clock"></i></p>
        </div>
        <div class="small-12 columns">
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-meter" style="width:0%"></div>
          </div>
        </div>

        <div class="small-12 columns">
          <p>$</p>
        </div>
        <div class="small-12 columns">
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-meter" style="width:0%"></div>
          </div>
        </div>
        
        <div class="small-12 columns">
          <p><i class="icon-globe"></i></p>
        </div>
        <div class="small-12 columns">
          <div class="progress" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-meter" style="width:0%"></div>
          </div>
        </div>    
      <% end %>
    </div>

    <h4 class="award extra-title"><i class="icon-award"></i> Weekly Challenges</h4>
    <div class="row align-center" id="challenges">
      <div class="large-3 columns">
        <%if(@challen1[1])%>
          <a href="#challenge1"><div class="challenge-pic" style="background-image: url('/img/level1.png" ></div></a>
        <% else %>
          <a href="#challenge1"><div class="challenge-pic" style="background-image: url('/img/locked.png" ></div></a>
        <% end %>
        <%= render :partial => 'layouts/challenge1'%>
      </div>
      <div class="large-3 columns">
        <%if(@challen2[1])%>
          <a href="#challenge2"><div class="challenge-pic" style="background-image: url('/img/level2.png" ></div></a>
        <% else %>
          <a href="#challenge2"><div class="challenge-pic" style="background-image: url('/img/locked.png" ></div></a>
        <% end %>
        <%= render :partial => 'layouts/challenge2'%>
      </div>
      <div class="large-3 columns">
        <%if(@challen3[1])%>
          <a href="#challenge3"><div class="challenge-pic" style="background-image: url('/img/level3.png" ></div></a>
        <% else %>
          <a href="#challenge3"><div class="challenge-pic" style="background-image: url('/img/locked.png" ></div></a>
        <% end %>
        <%= render :partial => 'layouts/challenge3'%>
      </div>
    </div>
    <div class="row side-footer">
        <div class="large-12 columns">
          <nav data-magellan>
            <ul class="horizontal menu expanded">
              <li class="logo">
                <%= link_to "greenie", root_path(current_user), style: "padding: 0px;" %>
              </li>
              <li class="tips">
                <p id="myRandomDiv2">
                </p>                
              </li>
              <% if logged_in? %>
                <li style="display:inline-block; float: right;"><%= link_to "Log out", logout_path, method: "delete" %></li>
              <% end %>
            </ul>
          </nav>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
  </div>
</div>

<script src="/js/vendor/jquery.min.js"></script>
<script src="/js/vendor/what-input.min.js"></script>
<script src="/js/vendor/foundation.js"></script>
<script src="/js/app.js"></script>

<script type="text/javascript" charset="utf-8">
    var randomStrings = [
        "1 metro ticket costs only 1 pound?",
        "1 bus ticket costs up to 2 pounds?",
        "1 litre of gasoline (92) costs 1.85 pounds?", 
        "Walking 1 km will burn around 60 calories?", 
        "Bicycling for 1 hour will burn around 280 calories?",
        "Driving 1 km consumes around 0.1 litre of gasoline?",
        "Driving 1 km emits around 230 grams of CO2?",
        "Driving emits around 4400 kg of CO2 annually?",
        "Public transportation can save households an average of 80,000 EGP every year. The savings continues to grow with the ever-increasing price of fuel.",
        "By eliminating one car in a two-car household, taking public transportation instead of driving can result in a savings of up to 30% of a household’s annual carbon dioxide emissions.",
        "Human activities release over 130 times the amount of CO2 emitted by volcanoes.",
        "Using public transportation is vastly cheaper than driving.",
        "Cycling or walking is a free gym on wheels.",
        "By using public transportation, you won't miss morning traffic jams.",
        "By using public transportation, you'll never have to worry about a parking spot again.",
        "One person riding the metro for one day reduces their carbon emissions into the environment by 20 pounds. That equals more than 4,800 pounds per year, which offers immediate benefits to the environment.",
        "One metro vehicle full of people removes up to 50 cars from the road; that’s a line of cars approximately four city blocks long.",
        "The typical metro rider consumes, on average, one half of the oil consumed by an automobile rider. Each year, people using public transportation save the equivalent of 34 supertankers of oil.",
        "The typical metro rider consumes, on average, one half of the oil consumed by an automobile rider. Each year, people using public transportation save the equivalent of a supertanker leaving the Middle East every 11 days.",
        "The metro produces nearly 50% less carbon dioxide (CO2) and nitrogen oxide (NOx), per passenger mile, as private vehicles.",
        "One metro ticket costs 1 EGP",
        "A metro pass for an unlimited number of adult rides costs only 485 EGP per year.",
        "A metro pass for an unlimited number of rides for students costs only 300 EGP per year.",
        "In 2007, the average annual delay for every person using motorized travel during peak periods was 36 hours, equivalent to: Almost 5 vacation days.",
        "In 2007, the average annual delay for every person using motorized travel during peak periods was 36 hours, equivalent to: More than 600 average online video clips.",
        "On a weekday, the average car causes a total of 3.26 hours of delays to other drivers, the equivalent of around 1500 EGP",
        "Traffic congestion is linked to poor health in infants. Reductions in traffic congestion can reduce the incidence of prematurity and low birth weight among mothers who live within 2km of a road",
        "Over time, people who commute by car daily tend to gain more weight than those who do not, even if they are physically active at other times.",
        "A 1% decrease in the use of automobiles can decrease obesity by 0.4%.",
        "It's not the kind of car you drive, but how many miles you drive it and how many litres of gas you burn that count.",
        "Car tires wear out as you drive on them and the particles from those tires go into the air.",
        "Obesity is linked to high levels of car and truck pollution.",
        "Most ozone pollution is caused by cars and trucks.",
        "It is estimated that of the CO2 emissions produced over a car's lifespan, 85% come from fuel use and servicing operations.",
        "Traffic congestion wastes billions of litres of gas.",
        "Just 25% of cars produce 90% of car air pollution.",
        "Air pollution from cars idling in school zones make kids sick.",
        "High levels of car and truck pollution increases hyperactivity (ADHD) in kids.",
        "Moms in highly car-polluted areas have smaller babies, which is not good for their health.",
        "The number of people who die due to air pollution is much less than the number of people killed per year in car crashes.",
        "Car exhaust has also been linked to asthma, bronchitis, and other health hazards.",
        "If you think bad air affects only other people, think again. New information shows that air pollution from traffic increases the chance of heart attack for everybody breathing that air.",
        "Car pollution causes significant damage to neurons involved in learning and memory.",
        "Car pollution causes signs of inflammation associated with premature aging and Alzheimer's disease.",
        "The amount of car pollution is much more than the amount of pollution released by a nuclear power plant.",
        "Ozone pollution is primarily due to the pollution that is released by cars.",
        "30000 people in the United States die each year from conditions that are caused or exacerbated by car pollution.",
        "Car pollution causes 51% of the carbon monoxide in the air, which contributes to the smog problem and can be extremely dangerous, even fatal.",
        "Car exhaust particulates cause more clouds to form in the atmosphere, but less rain.",
        "95% of a car's energy goes towards moving the car itself, and only 5% to moving the passenger. While on a bicycle, 83% of the energy goes towards transporting the rider, not the vehicle",
        "When the complete life cycle of travelling with a car is taken into account, the carbon emissions are approximately 271 g CO2/passenger/km",
        "Each hour per day spent driving corresponds with a 6% increase in the odds of being obese.",
        "The WHO reports that the Air Pollution in Downtown Cairo is 10-100 times what is considered a safe limit.",
        "The risk of developing serious respiratory disease and cancer from inhaling particulate in Cairo air is: 2 persons for every 1000.",
        "Half a million of the Cairo residents will develop serious health problems (respiratory diseases and cancer) that will result in premature death in a period of 5-25 years.",
        "Assuming that each person suffering from health problems, due to air pollution, will receive medical treatment worth 10,000 Egyptian pounds, the total cost will be 5 billion Egyptian pounds.",
        "A recent World Bank report estimated the annual costs of the congestion in Cairo to be up to EGP50 billion.",
        "At least 1,000 Cairo residents die each year in traffic related accidents, of which more than half are pedestrians, and over 4,000 are injured.",
        "Cairo has one of the highest ratios of cars to km of road in the world.",
        "If traffic is reduced by 40% you don’t have jams anymore, except of course during rush hour.",
        "A 16km car trip from Dokki to Heliopolis which could take an hour and a half, could take around 30 minutes on a bike.",
        "Using a bicycle to commute 4 days a week for 6.5 km (one-way) saves 204 litres of gas annually.",
        "7 to 12 bicycles can park in one automobile parking space.",
        "It costs about 450 EGP to build and maintain one space in a bike rack and 4500 EGP for a bike locker, yet one car parking space in a parking structure costs about 75000 EGP.",
        "Bike-to-Work Week is celebrated every May.",
        "The energy and resources needed to build one medium-sized car could produce 100 bicycles.",
        "Bikes are 2/3 more efficient than cars even after factoring in the energy to produce the extra food the cyclist requires.",
        "It costs the same to build parking for 75 bikes as it does for just 4 cars.",
        "A 40% obese population requires 19% more food energy, resulting in an extra 0.4-1.0 Giga tonnes of CO2 emissions per year (for a population of 1 billion)",
        "When the complete life cycle of travelling with a bicycle is taken into account, the carbon emissions are approximately 21 g CO2/passenger/km",
        "One study shows that increasing biking and walking from 4 to 24 minutes a day on average would reduce cardiovascular disease and diabetes by 14% and decrease Greenhouse Gas Emissions by 14%.",
        "Urban cyclists are exposed to less accumulated air pollution than bus commuters.",
        "The benefits of increased physical activity from shifting from driving to bicycling (3 to 14 months gained) outweigh the effects of increased inhaled air pollution (0.8 to 40 days lost) and increased traffic accidents (5 to 9 days lost).",
        "Bicycling to school improves children's cardiorespiratory fitness.",
        "It costs 3 to 4 times more to enroll a inactive adult in a structured exercise program than to teach them how to integrate moderate-intensity physical activity into their life [e.g. bicycling for transportation].",
        "In a study of more than 30,000 people, those who bicycled to work were 40% less likely to die during follow-up, regardless of how much physical activity they got outside of commuting.",
        "A 30-minute round trip bicycle commute is associated with better mental health in men.",
        "Active commuting that incorporates cycling and walking is associated with an overall 11% reduction in cardiovascular risk.",
        "Biking for transportation can count toward the minimum 150 minutes/week of moderate-intensity aerobic activity recommended for physical health.",
        "Biking is listed as the safest way to get physical activity.",
        "82% of bicycle commuters believe their health has improved since they started bicycle commuting.",
        "30-60 minutes of daily physical activity such as biking to work is associated with low blood pressure in women and low hypertension in both genders.",
        "One study found that cycling improves levels of well-being, self-confidence, and tolerance to stress while reducing tiredness, difficulties with sleep and a range of medical symptoms.",
        "A study of nearly 2,400 adults found that those who biked to work were fitter, leaner, less likely to be obese, and had better triglyceride levels, blood pressure, and insulin levels than those who didn't active commute to work.",
        "Bike commuters report lower stress and greater feelings of freedom, relaxation, and excitement than car commuters.",
        "Bicycle commuting burns an average of 540 calories per hour.",
        "Men who cycle to work are significantly less likely to be overweight and obese (39.8%) than those who drive to work (60.8%).",
        "Replacing car trips with walking and biking improves air quality.",
        "Increasing walking and bicycling can reduce single occupancy vehicle trips and greenhouse gas emissions.",
        "Walking and bicycling are affordable transportation options.",
        "Walking and bicycling improve personal and community health, Wang.",
        "Walking and bicycling increase quality of life and create vibrant communities.",
        "A reduction in carbon dioxide emissions through an increase in biking and walking for transportation has greater health benefits for a population than from the increased use of lower-emission motor vehicles.",
        "An increase in active transportation is estimated to reduce 500 accidents per million citizens.", 
        "Cycling and walking commuters have significantly lower levels of exposure to harmful pollutants like benzene compared with car commuters and significantly lower levels of pollutant NO2 than bus commuters.",
        "Kids who ride a school bus inhale up to a million times more vehicle emissions than the average person outside the bus.",
        "Women who walk or bike 30 minutes a day have a lower risk of breast cancer.",
        "Countries with the highest levels of cycling and walking generally have the lowest obesity rates.",
        "People exercise for longer when they are outside compared to at home, work, or a gym.",
        "When the complete life cycle of travelling with a bus is taken into account, the carbon emissions are approximately 101 g CO2/passenger/km",
    ];

    var randomDiv = document.getElementById("myRandomDiv");
    var randomDiv2 = document.getElementById("myRandomDiv2");

    randomIndex = Math.ceil((Math.random()*randomStrings.length-1));
    newText = randomStrings[randomIndex];
    randomDiv.innerHTML = newText;
    randomDiv2.innerHTML = newText;
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoJIYyNv0TRzjN4JytyIOJLnOhXIiZX8A&libraries=places&callback=initMap" async defer></script>

<script>

$(window).load(function(){
    var modal = document.getElementById('myModal');
    if(modal != null) {
      $('#myModal').modal('show');
    }
});


// For todays date;
Date.prototype.today = function () { 
    return this.getFullYear() +"-"+(((this.getMonth()+1) < 10)?"0":"") + (this.getMonth()+1) +"-"+ ((this.getDate() < 10)?"0":"") + this.getDate();
}

// For the time now
Date.prototype.timeNow = function () {
     return ((this.getHours() < 10)?"0":"") + this.getHours() +":"+ ((this.getMinutes() < 10)?"0":"") + this.getMinutes() +":"+ ((this.getSeconds() < 10)?"0":"") + this.getSeconds();
}

function getLocation(elm, loc, check_start_lat, check_start_lng, choice) {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          function(position) {
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;
            var datetime = new Date().today() + " " + new Date().timeNow();

            var postRequest = function(estimated_duration) {
              $.ajax({
                method: 'POST',
                url: elm.getAttribute('href'),
                data: {
                  lat: lat,
                  lng: lng,
                  datetime: datetime,
                  duration: estimated_duration
                }
              }).done(function(data){
                if(data.startsWith("The") || data.startsWith("You")) {
                  alert(data);
                  if (data.includes("The time")) {
                    location.reload(true);
                  }
                } else {
                  if(loc == "end") {
                    elm.closest('div.errand-element').remove();
                    if(data == "1") {
                      $('#awardGold').modal('show');
                    } else if(data == "2") {
                      $('#awardSilver').modal('show');
                    } else if(data == "3") {
                      $('#awardBronze').modal('show');
                    }

                    if(choice.includes("Bus line")) {
                      $('#feedbackBus').modal('show');
                    } else if(choice.includes("Metro line")) {
                      $('#feedbackMetro').modal('show');
                    } else if(choice.includes("Walking")) {
                      $('#feedbackWalking').modal('show');
                    } else if(choice.includes("Cycling")) {
                      $('#feedbackCycling').modal('show');
                    } else if(choice.includes("Carpooling")) {
                      $('#feedbackCarpool').modal('show');
                    } else if(choice.includes("Using own Car")) {
                      $('#feedbackCar').modal('show');
                    }

                    $('#feedbackBus').on('hidden.bs.modal', function() {
                      window.location.reload(true);
                    });
                    $('#feedbackCar').on('hidden.bs.modal', function() {
                      window.location.reload(true);
                    });
                    $('#feedbackCarpool').on('hidden.bs.modal', function() {
                      window.location.reload(true);
                    });
                    $('#feedbackCycling').on('hidden.bs.modal', function() {
                      window.location.reload(true);
                    });
                    $('#feedbackMetro').on('hidden.bs.modal', function() {
                      window.location.reload(true);
                    });
                    $('#feedbackWalking').on('hidden.bs.modal', function() {
                      console.log("HERE");
                      window.location.reload(true);
                    });
                  } else {
                    var highlightedText = elm.innerHTML;
                    var parent = elm.parentNode;
                    var newNode = document.createTextNode(highlightedText);
                    parent.insertBefore(newNode, elm);
                    parent.removeChild(elm);
                    location.reload(true);
                  }
                }
              });
            }

            if(loc == "end") {
              getDirections(check_start_lat, check_start_lng, lat, lng, choice, postRequest);
            } else {
              postRequest("");
            }

            
          }, function(error) {
            $.ajax({
              method: 'POST',
              url: elm.getAttribute('href')
            });
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    alert("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.");
                    break;
            }
        });
    } else {         
      $.ajax({
        method: 'POST',
        url: elm.getAttribute('href')
      });
      alert("Geolocation is not supported by this browser.");
    }
}

function getDirections(start_lat, start_lng, end_lat, end_lng, choice, postRequest) {
  if(start_lat != "" && start_lng != "") {
    var origin = new google.maps.LatLng(start_lat, start_lng);
    var destination = new google.maps.LatLng(end_lat, end_lng);

    var service = new google.maps.DistanceMatrixService();

    var travelMode = ""
    if(choice.includes("Bus line") || choice.includes("Carpooling") || choice.includes("Using own Car")) {
      travelMode = google.maps.TravelMode.DRIVING;
    } else if(choice.includes("Metro line")) {
      travelMode = "";
    } else if(choice.includes("Walking")) {
      travelMode = google.maps.TravelMode.WALKING;
    } else if(choice.includes("Cycling")) {
      travelMode = google.maps.TravelMode.WALKING;
    }

    service.getDistanceMatrix(
      {
        origins: [origin],
        destinations: [destination],
        travelMode: travelMode,
        unitSystem: google.maps.UnitSystem.METRIC,
      }, function(response, status) {
          if (status !== google.maps.DistanceMatrixStatus.OK) {
            alert('Error was: ' + status);
          } else {
            var originList = response.originAddresses;
            var destinationList = response.destinationAddresses;
            //var outputDiv = document.getElementById('test');
            //outputDiv.innerHTML = '';

            var output = response.rows[0].elements[0].duration.value
            // for (x = 0;x < response.routes[0].legs[0].steps.length; x++){
            //     output = output + response.routes[0].legs[0].steps[x].html_instructions;
            //     output += " (Distance: " + response.routes[0].legs[0].steps[x].distance.text + ") <br />";
            // }
            //outputDiv.innerHTML=output+"#";

            postRequest(output);
          }
    });
  } else {
    postRequest("");
  }
}


function initMap() {
    var map;
    var marker;
    var marker2;

    var mapSmall;
    var markerSmall;
    var markerSmall2;

    var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=A|FF0000|0000FF", new google.maps.Size(21, 34), new google.maps.Point(0,0), new google.maps.Point(10, 34));
    var pinImage2 = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=B|0000FF|FF0000", new google.maps.Size(21, 34), new google.maps.Point(0,0), new google.maps.Point(10, 34));

    var pinImageSmall = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=A|FF0000|0000FF", new google.maps.Size(21, 34), new google.maps.Point(0,0), new google.maps.Point(10, 34));
    var pinImageSmall2 = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=B|0000FF|FF0000", new google.maps.Size(21, 34), new google.maps.Point(0,0), new google.maps.Point(10, 34));

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var pos2 = {
          lat: position.coords.latitude + 0.01,
          lng: position.coords.longitude + 0.01
        };
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: pos
        });

        mapSmall = new google.maps.Map(document.getElementById('mapSmall'), {
          zoom: 10,
          center: pos
        });

        lat = position.coords.latitude;
        lng = position.coords.longitude;
        document.getElementById("latStart").value = lat;
        document.getElementById("lngStart").value = lng;
        document.getElementById("latEnd").value = lat + 0.01;
        document.getElementById("lngEnd").value = lng + 0.01;

        document.getElementById("latStartSmall").value = lat;
        document.getElementById("lngStartSmall").value = lng;
        document.getElementById("latEndSmall").value = lat + 0.01;
        document.getElementById("lngEndSmall").value = lng + 0.01;

        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer({
          draggable: true,
          map: map
        });

        var directionsServiceSmall = new google.maps.DirectionsService;
        var directionsDisplaySmall = new google.maps.DirectionsRenderer({
          draggable: true,
          map: mapSmall
        });

        displayRoute(pos, pos2, directionsService, directionsDisplay);

        displayRoute(pos, pos2, directionsServiceSmall, directionsDisplaySmall);

        directionsDisplay.addListener('directions_changed', function() {
          var orig = directionsDisplay.getDirections().request.origin;
          var dest = directionsDisplay.getDirections().request.destination;
          if(!isNaN(parseFloat(orig.lat()))) {
            document.getElementById("latStart").value = orig.lat();
            document.getElementById("lngStart").value = orig.lng();
            document.getElementById("latEnd").value = dest.lat();
            document.getElementById("lngEnd").value = dest.lng();
          }
        });

        directionsDisplaySmall.addListener('directions_changed', function() {
          var orig = directionsDisplaySmall.getDirections().request.origin;
          var dest = directionsDisplaySmall.getDirections().request.destination;
          if(!isNaN(parseFloat(orig.lat()))) {
            document.getElementById("latStartSmall").value = orig.lat();
            document.getElementById("lngStartSmall").value = orig.lng();
            document.getElementById("latEndSmall").value = dest.lat();
            document.getElementById("lngEndSmall").value = dest.lng();
          }
        });

        var autocomplete = new google.maps.places.Autocomplete(document.getElementById('locationFrom'));
        var autocomplete2 = new google.maps.places.Autocomplete(document.getElementById('locationTo'));

        var autocompleteSmall = new google.maps.places.Autocomplete(document.getElementById('locationFromSmall'));
        var autocomplete2Small = new google.maps.places.Autocomplete(document.getElementById('locationToSmall'));

        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, directionsService, directionsDisplay, "start", function(posStart){
            var split = posStart.split('$');
            document.getElementById("latStart").value = split[0];
            document.getElementById("lngStart").value = split[1];
          });
          geocodeAddress(geocoder, directionsService, directionsDisplay, "end", function(posEnd){
            var split = posEnd.split('$');
            document.getElementById("latEnd").value = split[0];
            document.getElementById("lngEnd").value = split[1];

            var lat = document.getElementById("latStart").value;
            var lng = document.getElementById("lngStart").value;
            var posStart = new google.maps.LatLng(lat, lng);
            posEnd = new google.maps.LatLng(split[0], split[1]);
            displayRoute(posStart, posEnd, directionsService, directionsDisplay);
          });
        });

        document.getElementById('submitSmall').addEventListener('click', function() {
          geocodeAddress(geocoder, directionsServiceSmall, directionsDisplaySmall, "startSmall", function(posStart){
            var split = posStart.split('$');
            document.getElementById("latStartSmall").value = split[0];
            document.getElementById("lngStartSmall").value = split[1];
          });
          geocodeAddress(geocoder, directionsServiceSmall, directionsDisplaySmall, "endSmall", function(posEnd){
            var split = posEnd.split('$');
            document.getElementById("latEndSmall").value = split[0];
            document.getElementById("lngEndSmall").value = split[1];

            var lat = document.getElementById("latStartSmall").value;
            var lng = document.getElementById("lngStartSmall").value;
            var posStart = new google.maps.LatLng(lat, lng);
            posEnd = new google.maps.LatLng(split[0], split[1]);
            displayRoute(posStart, posEnd, directionsServiceSmall, directionsDisplaySmall);
          });
        });

      }, function(error) {
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    alert("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.");
                    break;
            }
      });
    }
}

function geocodeAddress(geocoder, directionsService, directionsDisplay, point, callback) {
  if(point == "start") {
    var address = document.getElementById('locationFrom').value;
  } else if(point == "end") {
    var address = document.getElementById('locationTo').value;
  } else if(point == "startSmall") {
    var address = document.getElementById('locationFromSmall').value;
  } else {
    var address = document.getElementById('locationToSmall').value;
  }

  geocoder.geocode({'address': address}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      var add = results[0].geometry.location.lat()+"$"+results[0].geometry.location.lng(); 
      callback(add);
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

function displayRoute(origin, destination, service, display) {
  service.route({
    origin: origin,
    destination: destination,
    travelMode: google.maps.TravelMode.DRIVING
  }, function(response, status) {
    if (status === google.maps.DirectionsStatus.OK) {
      display.setDirections(response);
    } else {
      alert('Could not display directions due to: ' + status);
    }
  });
}

</script>

<style>
  .ui-widget-content {
    width: 100px;
    background: #fff;
    font-size: .9em;
    padding: .5em 0;
    border-color: #ddd;
    box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
    line-height: 1.2;
    max-height: 20em;
    overflow: hidden;
    overflow-y: auto;
  }

  .ui-menu-item {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    padding: .4em .4em .4em 4em;
    position: relative;
    border: 0;
    border-left: 5px solid transparent;
    position: relative;
  }
  .ui-state-focus {
    background: #fff;
    border-left-color: #08c;
    font-weight: 300;
  }

  
  .ui-menu-item .name {
    display: block;
    color: #555;
  }

  .ui-state-focus .name {
    color: #08c;
  }
   #map {
     height: 100%;
     width: 100%;
     top:0;
     left:0;
   }
   #mapSmall {
     height: 100%;
     width: 100%;
     top:0;
     left:0;
   }
  #user_birthday_3i {
    width: 50px;
  }
  #user_birthday_2i {
    width: 100px;
  }
  #user_birthday_1i {
    width: 70px;
  }
</style>