<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag("profilePic.jpeg", alt: "profile", style: "width: 150px") %>
        <br>
        <%= @user.name.titleize %> 
        <br>
      </h1>
      <%= @user.email %>
    </section>

    <%= button_to "Add Errands", users_addErrands_path, {method: :get, class: 'btn btn-success', style: 'width: 100px; margin-top: 20px;'} %>
  </aside>
  
  <!--div class="col-md-2">
  	<%= button_to "Add Errands", users_addErrands_path, {method: :get, class: 'btn btn-success', style: 'width: 100px; margin-top: 20px;'} %>
  </div-->

  <div class="col-md-4" style="margin-top: 20px;">
  	<h1 class="boxed">Score: <%= @user.score %></h1>
  	<h3>Leaderboard</h3>
  	<div style="height: 350px; overflow: auto;">
  	<table class="table table-striped" style="background-color: #ffffff">
  	  <tr>
	    <th>Name</th>
	    <th>Score</th> 
	    <th>Rank</th>
	  </tr>
  	  <% @users.each do |user| %>
  	  	<% @rank+=1 %>
  	  	<% if(user.name == @user.name) %>       
  		<tr class="success">
  		<% else %>
  		<tr>
  		<% end %>
    		<td><%= user.name.titleize %></td>
    		<td><%= user.score %></td>
    		<td><%= @rank %></td>
  		</tr>
	  <% end %>
	</table>
	</div>
  </div>
</div>

<style>
	body{background-color: #8fb4ff}
	.boxed {
		border: 2px solid green;
		padding: 2px;
		display: inline-block;
	}
</style>
