<!DOCTYPE html>
<html>
<script>

// For todays date;
Date.prototype.today = function () { 
    return this.getFullYear() +"-"+(((this.getMonth()+1) < 10)?"0":"") + (this.getMonth()+1) +"-"+ ((this.getDate() < 10)?"0":"") + this.getDate();
}

// For the time now
Date.prototype.timeNow = function () {
     return ((this.getHours() < 10)?"0":"") + this.getHours() +":"+ ((this.getMinutes() < 10)?"0":"") + this.getMinutes() +":"+ ((this.getSeconds() < 10)?"0":"") + this.getSeconds();
}

function getLocation(elm) {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          function(position) {
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;
            var datetime = new Date().today() + " " + new Date().timeNow();

            $.rails.ajax({
              method: 'POST',
              url: elm.getAttribute('href'),
              data: {
                lat: lat,
                lng: lng,
                datetime: datetime
              }
            }).done(function(data){
              alert(data);
            });
          }, function(error) {
            $.rails.ajax({
              method: 'POST',
              url: elm.getAttribute('href')
            });
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    alert("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.");
                    break;
            }
        });
    } else {         
      $.rails.ajax({
        method: 'POST',
        url: elm.getAttribute('href')
      });
      alert("Geolocation is not supported by this browser.");
    }
}

</script>

<% provide(:title, @user.name) %>

<!--h3><%= @choices %></h3-->


<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h1>
        <%= image_tag("profilePic.jpeg", alt: "profile", style: "width: 150px") %>
        <br>
        <%= @user.name.titleize %> 
        <br>
      </h1>
      <%= @user.email %>
    </section>    
    <%= button_to "Add Errands", users_addErrands_path, {method: :get, class: 'btn btn-success', style: 'width: 100px; margin-top: 20px;'} %>

    <% if(Errand.where(user_id: params[:id]).find_each.size > 0) %>
      <h3>Errands</h3>
      <div style="height: 350px; overflow: auto;">
        <table class="table" style="background-color: #ffffff">
          <tr>
          <th>From</th>
          <th>To</th> 
          <th>Choice</th>
          </tr>
          <% Errand.where(user_id: params[:id]).find_each.each do |errand| %>
            <% if(errand.done == false) %>
              <tr>
                <td><%= link_to errand.start.name, users_checkin_start_path(:errand_id => errand.id), :onclick => 'getLocation(this); return false;'%></td>
                <td><%= link_to errand.end.name, users_checkin_end_path(:errand_id => errand.id), :onclick => 'getLocation(this); return false;'%></td>
                <td><%= errand.choice %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    <% end %>
  </aside>
  
  <!--div class="col-md-2">
  	<%= button_to "Add Errands", users_addErrands_path, {method: :get, class: 'btn btn-success', style: 'width: 100px; margin-top: 20px;'} %>
  </div-->

  <div class="col-md-4" style="margin-top: 20px;">
  	<h1 class="boxed">Score: <%= @user.score %></h1>
  	<h3>Leaderboard</h3>
  	<div style="height: 350px; overflow: auto;">
  	<table class="table table-striped" style="background-color: #ffffff">
  	  <tr>
	    <th>Name</th>
	    <th>Score</th> 
	    <th>Rank</th>
	    </tr>
  	  <% @users.each do |user| %>
  	  	<% @rank+=1 %>
  	  	<% if(user.name == @user.name) %>       
    		<tr class="success">
    		<% else %>
    		<tr>
    		<% end %>
      		<td><%= user.name.titleize %></td>
      		<td><%= user.score %></td>
      		<td><%= @rank %></td>
    		</tr>
  	  <% end %>
  	</table>
	</div>
  </div>
</div>

<style>
	body{background-color: #8fb4ff}
	.boxed {
		border: 2px solid green;
		padding: 2px;
		display: inline-block;
	}
</style>
</html>