<!DOCTYPE html>
<html>
<head>
  <title> <%= full_title(yield(:title)) %> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script data-require="bootstrap@*" data-semver="3.3.2" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!-- <link data-require="bootstrap@*" data-semver="3.3.2" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  <link data-require="bootstrap-css@3.3.*" data-semver="3.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
   -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
    <div class="container" style="position:absolute; top:50px; bottom:50px; left:0px; right:0px; overflow:auto;">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>", style="width=100%"><%= message %></div>
    <% end %>
		<%= yield %>
    <!--%= debug(params) if Rails.env.development? %-->
	  </div>
  <%= render 'layouts/footer' %>
</body>
<style>
  body{background-color: #8fb4ff}
  .boxed {
    border: 2px solid green;
    padding: 2px;
    display: inline-block;
  }
</style>
</html>

